* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: white;
    background-color: gray;
}


h1 {
    margin-top: 1rem;
    text-align: center;
    font-size: 2rem;
}

main {
    width: 40vw;
    margin: 0 auto;
}

.nav-desc {
    display: flex;
    justify-content: space-between;

}

.wrapper {
    margin: 0 0 1rem 0;
    height: 30vw;
    overflow: hidden;
    border-radius: 3%;
}

.slider {
    width: 100%;
    transition: all 0.7s ease-out;
}

.slider img {
    display: block;
    margin: 0;
    padding: 0;
    height: 30vw;
}

.wrap-desc {
    height: 3rem;
    overflow: hidden;
}

.description {
    width: 100%;
    margin-top: -3rem;
    line-height: 1rem;
    transition: all 0.7s ease-out;
    overflow: hidden;
}

.description > p {
    padding-bottom: 2rem;
}

.wrap-input {
    display: inline-block;
    width: 1.5rem;
    height: 2rem;
    cursor: pointer;
}

input {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    display: block;
    height: 1rem;
    width: 1rem;
    background-color: #009acd;
    border-radius: 50%;
    transition: all 0.7s ease-out;
}



.wrap-input:hover .checkmark {
    background-color: #fff;
    transform: scale(1.1);
}

    
.checkmark:after {
    content: "";
    position: relative;
    display: none;
}
    

  .wrap-input .checkmark:after {
    top: 0.25rem;
    left: 0.25rem;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background: gray;
}

@keyframes anim-slider {
    0% { filter: grayscale(0);}
    20% { filter: grayscale(1);}
    70% { filter: grayscale(0.9);}
    100% { filter: grayscale(0);}
}

input:focus ~ .wrapper .slider img{
    animation: anim-slider 0.5s ease-in-out;
}

@keyframes anim-text {
    0% { transform: translateY(0px);}
    20% { transform: translateY(+20px);}
    40% { transform: translateY(0px);}
    60% { transform: translateY(+10px);}
    80% { transform: translateY(0px);}
    100% { transform: translateY(5px);}

}

input:focus ~ .nav-desc .wrap-desc .description {
    animation: anim-text 0.5s linear 0.5s;
}



#nav1:checked ~ .nav-desc .wrap-desc .description {
    margin-top: 0;
}
#nav1:checked ~ .wrapper .slider {
    margin-top: 0;
}
#nav1:checked ~ .nav-desc .navigation .check-nav1 .checkmark {
    background-color: #009acd;
}
#nav1:checked ~ .nav-desc .navigation .check-nav1 .checkmark:after {
    display: block;
}
#nav1:checked ~ .nav-desc .navigation .check-nav1:hover .checkmark {
    background-color: white;
}



#nav2:checked ~ .nav-desc .wrap-desc .description {
    margin-top: -3rem;
}
#nav2:checked ~ .wrapper .slider {
    margin-top: -30vw;
}
#nav2:checked ~ .nav-desc .navigation .check-nav2 .checkmark {
    background-color: #009acd;
}
#nav2:checked ~ .nav-desc .navigation .check-nav2 .checkmark:after {
    display: block;
}
#nav2:checked ~ .nav-desc .navigation .check-nav2:hover .checkmark {
    background-color: white;
}



#nav3:checked ~ .nav-desc .wrap-desc .description {
    margin-top: -6rem;
}
#nav3:checked ~ .wrapper .slider {
    margin-top: -60vw;
}
#nav3:checked ~ .nav-desc .navigation .check-nav3 .checkmark {
    background-color: #009acd;
}
#nav3:checked ~ .nav-desc .navigation .check-nav3 .checkmark:after {
    display: block;
}
#nav3:checked ~ .nav-desc .navigation .check-nav3:hover .checkmark {
    background-color: white;
}



#nav4:checked ~ .nav-desc .wrap-desc .description {
    margin-top: -9rem;
}
#nav4:checked ~ .wrapper .slider {
    margin-top: -90vw;
}
#nav4:checked ~ .nav-desc .navigation .check-nav4 .checkmark {
    background-color: #009acd;
}
#nav4:checked ~ .nav-desc .navigation .check-nav4 .checkmark:after {
    display: block;
}
#nav4:checked ~ .nav-desc .navigation .check-nav4:hover .checkmark {
    background-color: white;
    
}

  
@media screen and (max-width: 768px) {

    main {
        width: 100vw;
    }

    .wrapper {
        height: 75vw;
    }
    
    .slider {
        width: 100vw;
    }
    
    .slider img {
        height: 75vw;
        
    }

    #nav2:checked ~ .wrapper .slider {
        margin-top: -75vw;
    }
    #nav3:checked ~ .wrapper .slider {
        margin-top: -150vw;
    }
    #nav4:checked ~ .wrapper .slider {
        margin-top: -225vw;
    }

    .nav-desc {
        flex-direction: column-reverse;
        align-items: center;
    }

    .description > p {
        text-align: center;
    }


}


  

