* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 20px;
    background-color: gray;
}

div {
    border: 1px solid red;
}

main {
    width: 40vw;
    margin: 0 auto;
    border: 1px solid blue;
}

.nav-desc {
    display: flex;
    justify-content: space-between;

}

.wrapper {
    margin: 20px 0;
    height: 30vw;
    /* width: 100%; */
    overflow: hidden;
    border-radius: 3%;
}

.slider {
    width: 100%;
    /* margin-top: -30vw; */
    /* margin-top: -30vw; */
    /* border: 1px solid yellow; */
    transition: all 0.3s ease-out;
}

.slider img {
    display: block;
    margin: 0;
    padding: 0;
    height: 30vw;
}

.wrap-desc {
    height: 3rem;
    /* width: 70%; */
    overflow: hidden;
}

.description {
    width: 100%;
    /* height: 3rem; */
    margin-top: -3rem;
    line-height: 1rem;
    transition: all 0.3s ease-out;
    /* font-size: 1rem; */
}

.description > p {
    padding-bottom: 2rem;
    /* margin-top: -3rem; */
}

.wrap-input {
    display: inline-block;
    /* position: relative; */
    /* padding-left: 5px; */
    /* height: 2rem; */
    width: 1.5rem;
    height: 2rem;
    /* margin-bottom: 12px; */
    cursor: pointer;
    /* border: 1px solid red; */
    /* opacity: 0.5; */
    /* font-size: 1rem; */
    /* line-height: 1rem; */
    /* -webkit-user-select: none; */
    /* -moz-user-select: none; */
    /* -ms-user-select: none; */
    /* user-select: none; */
  }

input {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    display: block;
    /* margin-top: -1rem; */
    /* position: relative; */
    /* top: 0; */
    /* left: 0; */
    height: 1rem;
    width: 1rem;
    background-color: #009acd;
    border-radius: 50%;
    transition: 0.3s linear;
    /* box-sizing: border-box; */
  }



.wrap-input:hover .checkmark {
    background-color: #fff;
}

/* .wrap-input:hover input ~ .checkmark {
    background-color: #fff;
} */

/* input:checked ~ .nav-desc .navigation .wrap-input .checkmark {
    background-color: red;
  } */

/* .wrap-input input:checked ~ .checkmark {
    background-color: #009acd;
  } */
    
  /* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: relative;
    display: none;
  }
    
  /* Show the indicator (dot/circle) when checked */
  /* .wrap-input input:checked ~ .checkmark:after {
    display: block;
  } */
    
  /* Style the indicator (dot/circle) */
  .wrap-input .checkmark:after {
    top: 0.25rem;
    left: 0.25rem;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background: gray;
  }

  /* .wrap-input:hover input:checked ~ .checkmark {
      background-color: white;
  } */

#nav1:checked ~ .nav-desc .wrap-desc .description {
    margin-top: 0;
}
#nav1:checked ~ .wrapper .slider {
    margin-top: 0;
}
#nav1:checked ~ .nav-desc .navigation .check-nav1 .checkmark {
    background-color: #009acd;
}
#nav1:checked ~ .nav-desc .navigation .check-nav1 .checkmark:after {
    display: block;
}
#nav1:checked ~ .nav-desc .navigation .check-nav1:hover .checkmark {
    background-color: white;
}



#nav2:checked ~ .nav-desc .wrap-desc .description {
    margin-top: -3rem;
}
#nav2:checked ~ .wrapper .slider {
    margin-top: -30vw;
}
#nav2:checked ~ .nav-desc .navigation .check-nav2 .checkmark {
    background-color: #009acd;
}
#nav2:checked ~ .nav-desc .navigation .check-nav2 .checkmark:after {
    display: block;
}
#nav2:checked ~ .nav-desc .navigation .check-nav2:hover .checkmark {
    background-color: white;
}



#nav3:checked ~ .nav-desc .wrap-desc .description {
    margin-top: -6rem;
}
#nav3:checked ~ .wrapper .slider {
    margin-top: -60vw;
}
#nav3:checked ~ .nav-desc .navigation .check-nav3 .checkmark {
    background-color: #009acd;
}
#nav3:checked ~ .nav-desc .navigation .check-nav3 .checkmark:after {
    display: block;
}
#nav3:checked ~ .nav-desc .navigation .check-nav3:hover .checkmark {
    background-color: white;
}



#nav4:checked ~ .nav-desc .wrap-desc .description {
    margin-top: -9rem;
}
#nav4:checked ~ .wrapper .slider {
    margin-top: -90vw;
}
#nav4:checked ~ .nav-desc .navigation .check-nav4 .checkmark {
    background-color: #009acd;
}
#nav4:checked ~ .nav-desc .navigation .check-nav4 .checkmark:after {
    display: block;
}
#nav4:checked ~ .nav-desc .navigation .check-nav4:hover .checkmark {
    background-color: white;
}

  
@media screen and (max-width: 768px) {

    main {
        width: 100vw;
    }

    .wrapper {
        margin: 20px 0;
        height: 75vw;
        overflow: hidden;
        border-radius: 3%;
    }
    
    .slider {
        width: 100vw;
        /* margin-top: -30vw; */
        /* border: 1px solid yellow; */
        /* transition: all 0.3s ease-out; */
    }
    
    .slider img {
        /* display: block; */
        /* margin: 0; */
        /* padding: 0; */
        height: 75vw;
        
    }

    #nav2:checked ~ .wrapper .slider {
        margin-top: -75vw;
    }
    #nav3:checked ~ .wrapper .slider {
        margin-top: -150vw;
    }
    #nav4:checked ~ .wrapper .slider {
        margin-top: -225vw;
    }


}


  

